@tailwind base;
@tailwind components;
@tailwind utilities;

.filters::-webkit-scrollbar {
  width: 0;
}

.logo-text {
  background-size: 37px auto;
  background: repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: background 18s infinite linear;
  animation: background 18s infinite linear;
}
